/* mediaqueries.css */
/* media query to hide the navbar in desktop mode */
@media (min-width: 768px) {
    #nav-desktop-view {
        display: none;
    }
}
/* media query for mobile mode */
@media (max-width: 768px) {
    .home-page {
        min-height: 30vh;
    }

    #mobile-view {
        display: none;
    }

    /* .desktop-view {
        display: flex;
    } */
    .resume-button {
        width: 6rem;
        font-size: 9px;
    }

    h1 {
        font-size: 250% !important;
 
    }
    p .role {
        font-size: 0.5rem !important;
    }
    #social-icons {
        font-size: 1.3rem;
    }

    .left-side-main {
        margin-top: 20px !important;
        padding: 30px !important;
    }

    #nav-icon {
        font-size: 2rem;
    }
    .navbar-toggler {
        border-color: white !important; 
        margin-top: -20px;
    }
    .navbar-toggler-icon {
        color: white !important; 
        margin-top: 12px;
    }

    .page-heading h2{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
    .edu-year p{
        font-weight: 600;
        font-size: 0.8rem;
    }

    .edu-details h3, .skills h3 {
        font-size: 1rem;
    }

    .edu-details p, .skills p {
        font-size: 0.8rem;
    }
    .skill-heading h2{
        font-size: 1.5rem;
    }
    .skill-container .skills .progress-bar {
        height: 1rem;
        width: 60%;
  
    }
    
    .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .title {
    font-size: 2rem;
  }

  .project-btn {
    font-size: 12px;
    padding: 0;
    width: 5rem;
    height: 2rem;
    border-radius: 1.5rem; 
}

.project-sub-title {
    font-size: 1rem;
    font-weight: 400;


}

.skill-heading-projects h2  {
    font-weight: 500;
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {

  
    #experience,
  .experience-details-container {
    margin-top: 2rem;
  }


  .list-unstyled a {
    font-size: 1rem;
  }

  .about-containers {
    margin-top: 0;
  }
}