* {
    font-family: 'Quicksand', sans-serif;
}
#home-page{
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1 {
    font-size: 500% !important;
    font-weight: 700;
}

p .role {
    font-weight: 400;
    font-size: 1.5rem;
}

.nav-links {
    font-size: 150% !important;
    font-weight: 700;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    color: #02766F;
}

.nav-link:active {
    color: #69ABA9;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

.wrap-text {
    width: 80%;
    height: 60%;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow:  1.3rem 1.3rem 1.3rem rgba(0,0,0,.5);
    background-color: rgba(225,225,225,.1);
}
#social-icons {
    font-size: 2rem;
}

#social-icons i:hover {
    color: #02766F;
}

nav {
    display: none;
}

.page-heading h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: #02766F;
    width: 90%;
}

.edu-year p{
    font-weight: 600;

}

#skills {
    background-color: #F4F4F4;
    background-size: cover !important;
    min-height: 100vh;

}



.skill-heading h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #02766F;
    padding-top: 5rem;
    
 
}

.skills h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.skill-container .skills .progress-bar {
    width: 75%;
    height: 2rem;
    background-color: #69ABA9;
    position: relative;
    overflow: hidden;
}

.skill-container .skills .progress-bar span {
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #02766F;;
}



/* media query to hide the navbar in desktop mode */
@media (min-width: 768px) {
    #nav-desktop-view {
        display: none;
    }
}
/* media query for mobile mode */
@media (max-width: 768px) {
    .home-page {
        min-height: 30vh;
    }

    #mobile-view {
        display: none;
    }

    /* .desktop-view {
        display: flex;
    } */

    h1 {
        font-size: 250% !important;
 
    }
    p .role {
        font-size: 0.5rem !important;
    }
    #social-icons {
        font-size: 1.3rem;
    }

    .left-side-main {
        margin-top: 20px !important;
        padding: 30px !important;
    }

    #nav-icon {
        font-size: 2rem;
    }
    .navbar-toggler {
        border-color: white !important; 
    }
    .navbar-toggler-icon {
        color: white !important; 
    }

    .page-heading h2{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
    .edu-year p{
        font-weight: 600;
        font-size: 0.8rem;
    }

    .edu-details h3 {
        font-size: 1rem;
    }

    .edu-details p {
        font-size: 0.8rem;
    }

}