* {
    font-family: 'Quicksand', sans-serif;
}

section {
    /* padding-top: 4vh; */
    height: 100vh;
    /* margin: 0 10rem; */
    box-sizing: border-box;
    min-height: fit-content;
  }

  .icon {
    cursor: pointer;
    height: 2rem;
  }
  

#home-page{
    background-size: cover;
    /* min-height: 100vh; */
    position: relative;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1 {
    font-size: 500% ;
    font-weight: 700;
}

p .role {
    font-weight: 400;
    font-size: 1.5rem;
}

.nav-links {
    font-size: 150% !important;
    font-weight: 700;
}

.nav-link {
    color: #FFFFFF;
}
.fa-brands, .fa-solid {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    color: #02766F;
}

.nav-link:active {
    color: #69ABA9;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
.resume-button {
    border: 4px solid #FFFFFF;
    border-radius: 2rem;
    color: #02766F;
    width: 10rem;
    border-radius: 2rem;
}
.resume-button:hover {
    color: #FFFFFF;
    border: 2px solid #02766F;
    background-color: #02766F;
}

.wrap-text {
    width: 80%;
    height: 60%;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow:  1.3rem 1.3rem 1.3rem rgba(0,0,0,.5);
    background-color: rgba(225,225,225,.1);
}
#social-icons {
    font-size: 2rem;
}

#social-icons i:hover {
    color: #02766F;
}

nav {
    display: none;
}

.page-heading h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: #02766F;
    width: 90%;
}

.edu-year p{
    font-weight: 600;

}
#experience {
    min-height: 70vh;
}
#skills {
    background-color: #F4F4F4;
    background-size: cover !important;
    /* min-height: 60vh; */
}

.skill-heading h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #02766F;
    padding-top: 5rem;
    
 
}

.skills h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.skill-container .skills .progress-bar {
    width: 75%;
    height: 2rem;
    background-color: #69ABA9;
    position: relative;
    overflow: hidden;
}

.skill-container {
    /* display: flex; */
    justify-content: center;
}

.skill-container .skills .progress-bar span {
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #02766F;;
}
/* Experience section */
.section__text__p1 {
    text-align: center;
  }
  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  
/* Projects section */
.section_text_p1 {
    text-align: center;
  }

.title {
    font-size: 2rem;
    text-align: center;
}

  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }
  
  article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
  }

  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }

  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }

  .project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }

  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .project-title {
    margin: 1rem;
    color: black;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  .btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

#projects {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .about-containers,
.about-details-container {
  display: flex;
}



  
  
  
  
  
  







/* media query to hide the navbar in desktop mode */
@media (min-width: 768px) {
    #nav-desktop-view {
        display: none;
    }
}
